
   .space-button {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #292b2c; /* Black background color */
    border: 2px solid #00AFB9; /* Border color */
    padding: 15px 30px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .space-button:hover {
    background-color: #00AFB9; /* Hover background color */
    color: black; /* Hover text color */
    border-color: #292b2c; /* Hover border color */
  }
  
  .space-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('space-background.jpg') center center/cover;
    mix-blend-mode: multiply;
    z-index: -1;
  }
  
  /* Optional: Add some shine animation */
  .space-button:hover:before {
    animation: shine 1.5s infinite;
  }
  
  @keyframes shine {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
  }
  