@font-face {
    font-family: 'BatmanForeverAlternate';
    src: url('../batmfa__.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.main-heading{
  font-family: 'BatmanForever';
   font-size: 3.4rem;
}
.sub-heading{
  font-family: 'BatmanForever';
   font-size: 1.4rem;
   /* background: rgb(65,57,204);
background: linear-gradient(90deg, rgba(65,57,204,1) 0%, rgba(232,142,220,1) 100%); */

}
.teamPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
  gap: 10rem;
  flex-wrap: wrap;
}

.Teamcard {
  position: relative;
  width: 270px;
  height: 140px;
  /* height:330px; */
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.Teamcard:hover {
  height: 190px;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}
.Teamcard:hover .imgBx {
  width: 120px;
  height: 120px;
  /* transform:translateY(50%); */
}

.Teamcard:hover .imgBx img{

  filter: grayscale(100%);
opacity:0.5;

}
.imgBx img {
  transition:0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scifi {
  background-image: url("./scifi.png");
}
.Teamcard .content {

  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.Teamcard .content .details {
  /* padding: 20px; */
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(120px);
}

.Teamcard:hover .content .details {
  transform: translateY(0px);
}

.Teamcard .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}
.Teamcard .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.Teamcard .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.Teamcard .content .details .data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}
.Teamcard .content .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.Teamcard .content .details .socials {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding:1rem;
}
.Teamcard .content .details .socials button {

  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  width:0.3rem;
  height:1rem;
  outline: none;
  font-size: 5em;
  font-weight: 500;
  background: #ff5f95;
  color: #fff;
  cursor: pointer;
}
