@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato:wght@300&family=Montserrat:wght@500&family=Poppins:wght@400;700&family=Roboto+Slab:wght@500&family=Roboto:wght@900&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #000;

}

section{
    display: flex;
    justify-content: center;
    /* background-image: url("https://img.freepik.com/premium-vector/abstract-tech-sci-fi-hologram-frame-template-design_115579-1108.jpg"); */
    align-items: center;
    background-repeat: no-repeat;
}

.main-container{
    min-height: 100vh;
    display: grid;
    place-items: center;
    /* background-image: radial-gradient(#320148 2px, transparent 2px),
    radial-gradient(#320148 2px, #000000 2px);
    background-size: 80px 80px; */
    /* background-color: #0000; */
  background-position: 0 0, 40px 40px;
}

.guest-heading{
    text-align: center;
    margin-bottom: 50px;
}

.main-container .card-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 2.5em;
    row-gap: 3.5em;
}

.card{
    perspective: 1200px;
    /* background-image: url("https://img.freepik.com/premium-vector/abstract-tech-sci-fi-hologram-frame-template-design_115579-1108.jpg"); */
    
}

.card:hover {
    transform: rotateY(-10deg) rotateX(10deg);
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);  */
}
.card:hover .card-info {
    transform: translate3d(0, 0, 120px);
  }
.card-body{
    position: relative;
    background: #fff;
    transform-style: preserve-3d;
    width: 350px;
    height: fit-content;
    box-shadow: 0 5px 25px rgb(0, 0 , 0 , .15);
    /* color: white; */
    transition: background-color 0.3s ease;
    background-color: black;
}

.card-body:hover {
    /* background-color: rgba(255, 255, 255, 0.95);  */

    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); */
    border: #fff;
    /* border-width: 10px; */
}
  

.card-body:hover .glass-bg-01{
    background: rgba(89 , 199 , 153 , .3);
    backdrop-filter: blur(3px);
}

.card-body:hover .glass-bg-02{
    background: rgba(95 , 174 , 204 , .3);
    backdrop-filter: blur(3px);
}

.card-body:hover .glass-bg-03{
    background: rgba(205 , 205 , 205 , .3);
    backdrop-filter: blur(3px);
}

.card-body:hover .card-figure{
    border: 3px solid #fff;
    transition: all .2s ease-in ;

    border-radius: 50%;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.15);
}

.card-body:hover .card-info {
    transform: translate3d(0, 0, 120px);
  }
.card-images{
    z-index: 0;
    width: 100%;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
}

.card-images .card-bg{
    position: absolute;
    width: 100%;
    left: 0;
    top:-5px;
}

.card-images .card-figure{
    /* display:grid ;
    place-items: center;
    border-radius:50%;
    background-color: rgb(79, 143, 226);
    position: absolute;
    top: 10%;
    left:-10%;
    width: cal(2rem + 2vmin);
    height: cal(2rem + 2vmin);
     */
    z-index: 1;
    width: 57.3%;
    transition: transform .3s ease-out;
}

.card-info{
    position: relative;
    padding: 20px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
}

.card-info .card-name{
    color:  #fff;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
    transition: transform .3s ease-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.card-info .card-descriptioin{
    color: #222;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 15px;
    transition: transform .3s ease-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-descriptioin{
    height: max-content;
    width: max-content;
    
}

.card-descriptioin p{
    color: white;
}

.card-info .card-media{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;
    transition: transform .3s ease-out;
}

.card-info .card-media a{
    color: #999;
    font-size: 1.7em;
    transition: color .1s ease;
}

.card-info .card-media a:hover{
    color: #222;
}

.card-name{
    padding-top: 12px 
}

@media screen  and (max-width:1210px){
    .main-container .card-container{
        grid-template-columns: repeat(2 , 1fr); 
    }

    section{
        margin: 100px 0;
    }
}

@media screen  and (max-width:825px){
    .main-container .card-container{
        grid-template-columns: repeat(1 , 1fr);
    }
}


@media screen  and (max-width:450px){
    .card-body{
        width: 100%;
    }

    .main-container .card-container{
        margin: 0 20px;
    }
}